<div class="checkout tw-py-5 tw-px-6">
  <div class="tw-mb-[22px]">
    <h2
      class="tw-text-2xl tw-font-semibold tw-leading-[29px] tw-text-[#424242] tw-mb-[14px]"
    >
      Delivery To
    </h2>
    <div class="tw-mb-3">
      <div
        class="tw-text-[12px] tw-font-medium tw-leading-[14px] tw-text-[rgba(66,66,66,0.25)] tw-mb-1"
      >
        Guest Name
      </div>
      <div
        class="tw-text-sm tw-font-normal tw-leading-[17px] tw-text-[rgba(66,66,66,1)]"
      >
        Yogek Garg
      </div>
    </div>
    <div>
      <div
        class="tw-text-[12px] tw-font-medium tw-leading-[14px] tw-text-[rgba(66,66,66,0.25)] tw-mb-1"
      >
        Room Number
      </div>
      <div
        class="tw-text-sm tw-font-normal tw-leading-[17px] tw-text-[rgba(66,66,66,1)]"
      >
        103
      </div>
    </div>
  </div>
  <div class="tw-mb-[30px]">
    <h2
      class="tw-text-2xl tw-font-semibold tw-leading-[29px] tw-text-[#424242] tw-mb-[19px]"
    >
      My Order
    </h2>
    <div>
      <div
        class="tw-h-[106px] tw-flex tw-flex-row tw-gap-[18px] tw-mb-6 tw-w-full"
        *ngFor="let item of getMenuItemsForSelectedCategory()"
      >
        <div
          class="tw-h-[108px] tw-w-[108px] tw-p-4 tw-shadow-[3px_0px_10px_0px_rgba(116,65,0,0.3)] tw-text-center"
        >
          <img
            class="tw-w-auto tw-h-auto tw-max-h-full tw-max-w-full tw-m-auto"
            src="../../assets/images/list-item-2.png"
            alt=""
          />
        </div>
        <div class="tw-relative tw-pr-10">
          <div class="tw-mb-[7px]">
            <h3
              class="tw-text-lg tw-leading-[22px] tw-font-medium tw-text-[#424242] tw-mb-2"
            >
              {{ item.itemName }}
            </h3>
            <div
              class="tw-text-base tw-leading-[19px] tw-font-medium tw-text-[#FF7D0B] tw-mb-[6px]"
            >
              ₹ {{ item.price }}
            </div>
            <div
              class="tw-text-[12px] tw-leading-[14px] tw-font-normal tw-text-[#424242] tw-mb-[7px]"
            >
              Quantity
            </div>
          </div>
          <button
            class="tw-w-[72px] tw-h-6 tw-rounded-[3px] tw-border tw-border-solid tw-border-[#F6A60B] tw-text-[#F6A60B] tw-text-[13px] tw-leading-[15px]"
            *ngIf="showAddButton(item)"
            (click)="selectItem(item)"
          >
            Add
          </button>
          <span
            *ngIf="showIncrementDecrementButtons(item)"
            class="tw-inline-flex tw-border tw-border-solid tw-border-[#F6A60B] tw-rounded-[3px] tw-w-[75px] tw-h-[25px]"
          >
            <button
              (click)="reduceItem(item)"
              class="tw-w-[25px] tw-text-[#F6A60B] tw-text-base tw-leading-[18px]"
            >
              -
            </button>
            <span
              class="tw-w-[25px] tw-text-white tw-text-[15px] tw-leading-[18px] tw-bg-[#F6A60B] tw-inline-flex tw-justify-center tw-items-center"
              >{{ getItemQuantity(item) }}</span
            >
            <button
              (click)="increaseItem(item)"
              class="tw-w-[25px] tw-text-[#F6A60B] tw-text-base tw-leading-[18px]"
            >
              +
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h2 class="tw-text-lg tw-font-medium tw-leading-[21px] tw-text-[#424242]">
      Bill Details
    </h2>
    <div class="tw-mb-[29px]">
      <div class="tw-flex tw-justify-between tw-flex-row tw-mb-[15px]">
        <span
          class="tw-text-[11px] tw-leading-[13px] tw-text-[#424242] tw-font-medium"
          >Items Total</span
        >
        <span
          class="tw-text-[11px] tw-leading-[13px] tw-text-[#424242] tw-font-medium"
          >₹ {{ totalPrice }}</span
        >
      </div>
      <div class="tw-flex tw-justify-between tw-flex-row tw-mb-[15px]">
        <span
          class="tw-text-[11px] tw-leading-[13px] tw-text-[#424242] tw-font-medium"
          >GST and Restaurant Charges</span
        >
        <span
          class="tw-text-[11px] tw-leading-[13px] tw-text-[#424242] tw-font-medium"
          >₹ {{ gst }}</span
        >
      </div>
      <div class="tw-flex tw-justify-between tw-flex-row tw-mb-[15px]">
        <span
          class="tw-text-[11px] tw-leading-[13px] tw-text-[#424242] tw-font-medium"
          >Service Charge</span
        >
        <span
          class="tw-text-[11px] tw-leading-[13px] tw-text-[#424242] tw-font-medium"
          >₹ 20</span
        >
      </div>
    </div>
    <div class="tw-flex tw-justify-between tw-flex-row tw-mb-[17px]">
      <span>
        <strong
          class="tw-text-2xl tw-leading-[29px] tw-font-medium tw-text-black"
          >Total</strong
        >
        <span class="tw-text-[#424242] tw-text-sm tw-leading-[17px] tw-ml-3"
          >({{ cartCount }} Item)</span
        >
      </span>
      <span
        class="tw-text-[#F6A60B] tw-text-2xl tw-leading-[29px] tw-font-medium"
        >₹ {{ totalItemPrice }}</span
      >
    </div>
    <div class="tw-mb-[15px] tw-text-center">
      <button
        class="tw-w-full tw-max-w-[320px] tw-h-14 tw-bg-[#05162E] tw-text-white tw-text-2xl tw-font-medium tw-rounded"
        (click)="navigateToConfirmPage()"
      >
        Place Order
      </button>
    </div>
  </div>
</div>
