

<div class="tw-bg-[#05162E] tw-h-[49px] tw-overflow-hidden">
  <nav
    class="tw-block tw-h-[69px] tw-pb-5 tw-overflow-x-auto tw-overflow-y-hidden tw-w-full"
  >
    <ul
      class="tw-flex tw-justify-start tw-items-center tw-gap-[38px] tw-h-full tw-min-w-full tw-flex-row"
    >
      <li *ngFor="let category of categories">
        <a
          class="tw-whitespace-nowrap tw-text-white"
          [ngClass]="{
            'tw-text-sm tw-leading-[17px] tw-font-semibold':
              category.categoryId === selectedCategory?.categoryId,
            'tw-text-xs tw-leading-[14px] tw-opacity-40':
              category.categoryId !== selectedCategory?.categoryId
          }"
          (click)="selectCategory(category)"
        >
          {{ category.categoryName }}
        </a>
      </li>
    </ul>
  </nav>
</div>

<div class="container tw-p-[18px]">
  <div class="card" *ngFor="let item of getMenuItemsForSelectedCategory()">
    <figure class="content">
      <div class="tw-mt-[14px] tw-mb-[23px]">
        <img  class="tw-w-full tw-h-auto tw-max-h-24 tw-max-w-[82px]" src="../../assets/images/list-item-1.png" alt="{{ item.itemName }}" />
      </div>
      <figcaption class="item-name">{{ item.itemName }}</figcaption>
    </figure>
    <div class="details">
      <span class="price">₹ {{ item.price }}</span>
      <button class="add-button" *ngIf="showAddButton(item)" (click)="selectItem(item)">Add</button>
      <span *ngIf="showIncrementDecrementButtons(item)" class="quantity-buttons">
        <button (click)="reduceItem(item)">-</button>
        <span class="quantity">{{ getItemQuantity(item) }}</span>
        <button (click)="increaseItem(item)">+</button>
      </span>
    </div>
  </div>
</div>

