<div class="tw-pb-5 tw-pt-5 tw-px-6">
  <div class="tw-mb-[66px]">
    <h2
      class="tw-text-lg tw-font-medium tw-leading-[21px] tw-text-[#424242] tw-mb-[15px]"
    >
      Order Summary
    </h2>
    <div class="tw-mb-[29px]">
      <div
        class="tw-flex tw-justify-between tw-flex-row tw-mb-[15px]"
        *ngFor="let item of getMenuItemsForSelectedCategory()"
      >
        <span
          class="tw-text-[11px] tw-leading-[13px] tw-text-[#424242] tw-font-medium"
          >{{ item.itemName }}
        </span>
        <span
          class="tw-text-[11px] tw-leading-[13px] tw-text-[#424242] tw-font-medium"
          >x{{ getItemQuantity(item) }}</span
        >
      </div>
    </div>
    <div class="tw-flex tw-justify-between tw-flex-row tw-mb-[17px]">
      <span>
        <strong
          class="tw-text-2xl tw-leading-[29px] tw-font-medium tw-text-black"
          >Total</strong
        >
        <span class="tw-text-[#424242] tw-text-sm tw-leading-[17px] tw-ml-3"
          >({{ cartCount }} Item)</span
        >
      </span>
      <span
        class="tw-text-[#F6A60B] tw-text-2xl tw-leading-[29px] tw-font-medium"
        >₹ {{ totalItemPrice }}</span
      >
    </div>
  </div>
  <div class="tw-text-center">
    <img
      class="tw-max-h-[161px] tw-m-auto"
      src="../../assets/images/payment.png"
      alt=""
    />
  </div>
  <div class="tw-mt-10 tw-mb-[60px]">
    <p
      class="tw-text-lg tw-leading-[22px] tw-text-[#383838] tw-font-semibold tw-text-center tw-mb-[37px]"
    >
      Order Placed!
    </p>
    <p
      class="tw-text-base tw-leading-[19px] tw-text-[#383838] tw-font-semibold tw-text-center tw-mb-[37px]"
    >
      Please wait for some time. Your order will be delivered shortly.
    </p>
    <p
      class="tw-text-base tw-leading-[19px] tw-text-[#383838] tw-font-normal tw-text-center tw-mb-[37px] tw-italic"
    >
      Thank you for ordering through Atithi!
    </p>
  </div>
  <div class="tw-mb-[15px] tw-text-center">
    <button
      class="tw-w-full tw-max-w-[320px] tw-h-14 tw-bg-[#05162E] tw-text-white tw-text-2xl tw-font-medium tw-rounded"
      (click)="navigateToHomePage()"
    >
      Go To Homepage
    </button>
  </div>
</div>
