<div
  class="tw-max-w-3xl tw-w-full tw-m-auto tw-min-h-screen tw-pt-14 tw-pb-12">
  <app-header *ngIf="showHeader"></app-header>
  <app-item-header
    *ngIf="!showHeader"
    [componentName]="componentName"
    [showCart]="showCart"
  ></app-item-header>

  <div
    class="tw-w-full tw-overflow-x-hidden"
  >
    <router-outlet />
  </div>
  <app-footer *ngIf="showFooter"></app-footer>
</div>

<div class="tw-fixed tw-bottom-12 tw-left-0 tw-z-20 tw-w-full tw-text-sm tw-text-white tw-bg-black tw-h-9">
  <div class="tw-px-3 tw-py-2">
      <p>Your order is on the way</p>
  </div>
</div>